.login {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.login > img{
  width: 500px;
}

.login > a{
  padding: 20px;
  background-color: #2fd565;
  border-radius: 99px;
  color: white;
  text-decoration: none;
  font-weight: 800;
}