.body {
  padding: 30px;
  width: 100%;
  overflow-y: overlay;
  flex: 0.8;
  color: white;
  overflow-y: overlay;
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  background-color: rgb(91, 87, 115);
  padding-bottom: 80px;
}

.discoverImg {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.body__infoText {
  font-size: 14px;
}

.body__icons {
  display: flex;
  align-items: center;
}

.bodyIcon {
  margin-right: 20px;
}

.playIcon {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.body__songs {
  margin: 20px -30px;
  background-color: rgba(0, 0, 0, 0.2);
}



