.footer {
  position:fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  height: 65px;
  width: 100%;
  background-color: #2a2929;
  padding:40px ;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: aliceblue;
  width: 300px;
}

.icons__footerLeft {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.titleCont > h4 {
  margin-bottom: 5px;
}

.titleCont > p {
  font-size: 10px;
}

.footer__albumlogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  margin-right: 50px;
}

.footer__right {
  flex: 0.3;
  display: flex;
  justify-content: space-around;
  width: 70px;
  align-items: center;
}

.icons {
  padding-right: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.icons:hover {
  transform: scale(1.1);
  fill: white;
}

