.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header_left {
  flex: 0.5;
  min-width: 70px;
  background-color: white;
  color: #808080;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

input.placeholder,
textarea.placeholder {
  border: none;
  width: 100%;
}

.search__Icon {
  margin-right: 10px;
}

.header_right {
  display: flex;
  align-items: center;
}

.avatar {
  opacity: 0.7;
}