.sidebarOption {
  display: flex;
  align-items: center;
  color: #808080;
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
  font-weight: 600;
}

.sidebarOption > p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}

.sidebarOption:hover {
  color: white;
}