.sidebar {
  flex: 0.2;
  background-color: #040404;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar__logo {
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

.sidebarIcon {
  width: 18px;
}

.itemsCont {
  display: flex;
  align-items: center;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}

.sidebarOptionCont {
  margin-left: 10px;
}

.sidebar > hr {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}